@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-break: keep-all;
}

html {
  font-size: 16px; // rem 기준 명시
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans;
  overflow-x: hidden;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
